test-facets.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Global SimpleType with facets -->
    <xs:simpleType name="TestCodeType">
        <xs:annotation>
            <xs:documentation>Test type with facets</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:minLength value="3"/>
            <xs:maxLength value="10"/>
            <xs:pattern value="[A-Z]{3}[0-9]{1,7}"/>
        </xs:restriction>
    </xs:simpleType>

    <!-- Element with inline SimpleType -->
    <xs:element name="InlineTestElement">
        <xs:annotation>
            <xs:documentation>Element with inline simple type restriction</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="RED"/>
                <xs:enumeration value="GREEN"/>
                <xs:enumeration value="BLUE"/>
                <xs:minLength value="3"/>
                <xs:maxLength value="5"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Root element -->
    <xs:element name="Root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Code" type="TestCodeType"/>
                <xs:element ref="InlineTestElement"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
