test-inline-restriction.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:altova="http://www.altova.com/xml-schema-extensions"
           xmlns:ds="http://www.w3.org/2000/09/xmldsig#"
           elementFormDefault="qualified">

    <!-- Example 1: Element with inline simpleType and string enumeration -->
    <xs:element name="Version" minOccurs="0">
        <xs:annotation>
            <xs:documentation>FundsXML Schema Version (4.0.0, 4.0.1, 4.1.0, ...)</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:string">
                <xs:enumeration value="4.0.0"/>
                <xs:enumeration value="4.0.1"/>
                <xs:enumeration value="4.1.0"/>
                <xs:enumeration value="4.1.1"/>
                <xs:enumeration value="4.1.2"/>
                <xs:enumeration value="4.1.3"/>
                <xs:enumeration value="4.1.4"/>
                <xs:enumeration value="4.1.5"/>
                <xs:enumeration value="4.1.6"/>
                <xs:enumeration value="4.1.7"/>
                <xs:enumeration value="4.1.8"/>
                <xs:enumeration value="4.1.9"/>
                <xs:enumeration value="4.1.10"/>
                <xs:enumeration value="4.1.11"/>
                <xs:enumeration value="4.2.0"/>
                <xs:enumeration value="4.2.1"/>
                <xs:enumeration value="4.2.2"/>
                <xs:enumeration value="4.2.3"/>
                <xs:enumeration value="4.2.4"/>
                <xs:enumeration value="4.2.5"/>
                <xs:enumeration value="4.2.6"/>
                <xs:enumeration value="4.2.7"/>
                <xs:enumeration value="4.2.8"/>
                <xs:enumeration value="4.2.9"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Example 2: Element with inline simpleType and decimal restriction -->
    <xs:element name="Price">
        <xs:annotation>
            <xs:documentation>Price value with min/max constraints</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:decimal">
                <xs:minInclusive value="0.00"/>
                <xs:maxInclusive value="999999.99"/>
                <xs:fractionDigits value="2"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Example 3: Element with inline simpleType and integer restriction -->
    <xs:element name="Age">
        <xs:annotation>
            <xs:documentation>Age between 0 and 150</xs:documentation>
        </xs:annotation>
        <xs:simpleType>
            <xs:restriction base="xs:integer">
                <xs:minInclusive value="0"/>
                <xs:maxInclusive value="150"/>
            </xs:restriction>
        </xs:simpleType>
    </xs:element>

    <!-- Example 4: Element with explicit type reference (for comparison) -->
    <xs:element name="Name" type="xs:string">
        <xs:annotation>
            <xs:documentation>Simple element with explicit type reference</xs:documentation>
        </xs:annotation>
    </xs:element>

</xs:schema>
