test-choice-example.xsd.bak1

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:tns="http://example.com/transaction"
           xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://example.com/transaction"
           vc:minVersion="1.1">
   <xs:simpleType name="Text256Type">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="FundAmountType">
      <xs:restriction base="xs:decimal">
         <xs:fractionDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TransactionType">
      <xs:sequence>
         <xs:element name="TransactionID" type="tns:Text256Type">
            <xs:annotation>
               <xs:documentation xml:lang="en">Unique Transaction ID</xs:documentation>
               <xs:documentation xml:lang="de">Eindeutige Transaktionsnummer</xs:documentation>
               <xs:appinfo source="@since 1.0.0"/>
               <xs:appinfo source="@see {@link TransactionType}"/>
               <xs:appinfo source="@see {@link /Transaction/TransactionKind}"/>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CancellationFlag" type="xs:boolean">
            <xs:annotation>
               <xs:documentation xml:lang="en">Indicates whether transaction has been cancelled</xs:documentation>
               <xs:documentation xml:lang="de">Kennzeichen ob die Transaktion storniert wurde</xs:documentation>
               <xs:appinfo source="@deprecated Use TransactionStatus instead"/>
               <xs:appinfo source="@since 1.0.0"/>
            </xs:annotation>
         </xs:element>
         <xs:element name="TransactionKind">
            <xs:annotation>
               <xs:documentation xml:lang="en">BUY, SELL, LENDING_BUY, LENDING_SELL, CORP_ACTION</xs:documentation>
               <xs:documentation xml:lang="de">BUY, SELL, LENDING_BUY, LENDING_SELL</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:enumeration value="BUY"/>
                  <xs:enumeration value="SELL"/>
                  <xs:enumeration value="LENDING_BUY"/>
                  <xs:enumeration value="LENDING_SELL"/>
                  <xs:enumeration value="CORP_ACTION"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:choice minOccurs="0">
            <xs:annotation>
               <xs:documentation xml:lang="en">Additional data for specialized transactions (derivatives, bonds,
                        corporate actions, Forex)
                    </xs:documentation>
               <xs:documentation xml:lang="de">Unterscheidung der Transaktionsart in:
                        - Derrivative
                        - Renten
                        - Kapitalmassnahmen
                        und Angabe der durch die Transaktionsart bestimmten Detail-Daten
                    </xs:documentation>
            </xs:annotation>
            <xs:element name="Derivatives">
               <xs:annotation>
                  <xs:documentation>Details for derivative transactions</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element minOccurs="0" name="HedgingFlag" type="xs:boolean">
                        <xs:annotation>
                           <xs:documentation>Enthaelt das Kennzeichen, ob das Geschaeft zur Absicherung oder
                                        zur Spekulationszwecken gemacht wurde
                                    </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element minOccurs="0" name="OpenCloseCash">
                        <xs:annotation>
                           <xs:documentation>Enthaelt das Kennzeichen, ob es sich bei dem Geschaeft um ein
                                        Opening,Closing oder Barausgleich handelt
                                    </xs:documentation>
                        </xs:annotation>
                        <xs:simpleType>
                           <xs:restriction base="xs:string">
                              <xs:enumeration value="OPEN"/>
                              <xs:enumeration value="CLOSE"/>
                              <xs:enumeration value="CASH"/>
                           </xs:restriction>
                        </xs:simpleType>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
            <xs:element name="Bonds">
               <xs:annotation>
                  <xs:documentation>Details for bond transactions</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:sequence>
                     <xs:element minOccurs="0" name="UnitInterests" type="tns:FundAmountType">
                        <xs:annotation>
                           <xs:documentation>Zeigt die BruttostuecKZinsen der Transaktion</xs:documentation>
                        </xs:annotation>
                     </xs:element>
                     <xs:element minOccurs="0" name="ExCouponFlag" type="xs:boolean">
                        <xs:annotation>
                           <xs:documentation>Enthaelt das Kennzeichen, ob die Wertpapiertransaktion ohne Kupon
                                        abgerechnet wird
                                    </xs:documentation>
                        </xs:annotation>
                     </xs:element>
                  </xs:sequence>
               </xs:complexType>
            </xs:element>
         </xs:choice>
      </xs:sequence>
      <xs:assert test=". = 1"/>
   </xs:complexType>
   <xs:element name="Transaction" type="tns:TransactionType"/>
</xs:schema>
