src/test/resources/roundtrip/02_complex_types_compositors.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--
    Test Schema 2: ComplexTypes with ALL Compositors
    Tests: xs:complexType, xs:sequence, xs:choice, xs:all, mixed content, abstract types
-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://test.example.com/complextypes"
           targetNamespace="http://test.example.com/complextypes"
           elementFormDefault="qualified"
           version="2.0">

    <xs:annotation>
        <xs:documentation>Test schema for ComplexType compositor combinations</xs:documentation>
    </xs:annotation>

    <!-- Empty complexType -->
    <xs:complexType name="EmptyType"/>

    <!-- Sequence with various occurrences -->
    <xs:complexType name="SequenceBasicType">
        <xs:sequence>
            <xs:element name="required" type="xs:string"/>
            <xs:element name="optional" type="xs:string" minOccurs="0"/>
            <xs:element name="multiple" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="bounded" type="xs:string" minOccurs="2" maxOccurs="5"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Choice with various occurrences -->
    <xs:complexType name="ChoiceBasicType">
        <xs:choice>
            <xs:element name="optionA" type="xs:string"/>
            <xs:element name="optionB" type="xs:integer"/>
            <xs:element name="optionC" type="xs:boolean"/>
        </xs:choice>
    </xs:complexType>

    <xs:complexType name="ChoiceMultipleType">
        <xs:choice minOccurs="1" maxOccurs="unbounded">
            <xs:element name="item1" type="xs:string"/>
            <xs:element name="item2" type="xs:string"/>
            <xs:element name="item3" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <!-- All compositor -->
    <xs:complexType name="AllBasicType">
        <xs:all>
            <xs:element name="fieldA" type="xs:string"/>
            <xs:element name="fieldB" type="xs:integer"/>
            <xs:element name="fieldC" type="xs:boolean" minOccurs="0"/>
        </xs:all>
    </xs:complexType>

    <!-- Nested compositors -->
    <xs:complexType name="NestedSequenceChoiceType">
        <xs:sequence>
            <xs:element name="header" type="xs:string"/>
            <xs:choice>
                <xs:element name="typeA" type="xs:string"/>
                <xs:element name="typeB" type="xs:integer"/>
            </xs:choice>
            <xs:sequence minOccurs="0" maxOccurs="unbounded">
                <xs:element name="itemName" type="xs:string"/>
                <xs:element name="itemValue" type="xs:decimal"/>
            </xs:sequence>
            <xs:element name="footer" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DeeplyNestedType">
        <xs:sequence>
            <xs:element name="level1">
                <xs:complexType>
                    <xs:choice>
                        <xs:element name="level2a">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="level3" type="xs:string" maxOccurs="unbounded"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                        <xs:element name="level2b">
                            <xs:complexType>
                                <xs:all>
                                    <xs:element name="fieldX" type="xs:string"/>
                                    <xs:element name="fieldY" type="xs:string"/>
                                </xs:all>
                            </xs:complexType>
                        </xs:element>
                    </xs:choice>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Mixed content -->
    <xs:complexType name="MixedContentType" mixed="true">
        <xs:sequence>
            <xs:element name="bold" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="italic" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="link" minOccurs="0" maxOccurs="unbounded">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute name="href" type="xs:anyURI" use="required"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="MixedChoiceType" mixed="true">
        <xs:choice minOccurs="0" maxOccurs="unbounded">
            <xs:element name="emphasis" type="xs:string"/>
            <xs:element name="code" type="xs:string"/>
        </xs:choice>
    </xs:complexType>

    <!-- Abstract complexType -->
    <xs:complexType name="AbstractBaseType" abstract="true">
        <xs:sequence>
            <xs:element name="id" type="xs:ID"/>
            <xs:element name="name" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- Block and final attributes -->
    <xs:complexType name="BlockedType" block="extension restriction">
        <xs:sequence>
            <xs:element name="data" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="FinalType" final="#all">
        <xs:sequence>
            <xs:element name="value" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ComplexType with attributes -->
    <xs:complexType name="WithAttributesType">
        <xs:sequence>
            <xs:element name="content" type="xs:string"/>
        </xs:sequence>
        <xs:attribute name="id" type="xs:ID"/>
        <xs:attribute name="version" type="xs:integer" default="1"/>
        <xs:attribute name="status" type="xs:string" fixed="ACTIVE"/>
        <xs:attribute name="optional" type="xs:string" use="optional"/>
        <xs:attribute name="required" type="xs:string" use="required"/>
        <xs:anyAttribute namespace="##other" processContents="lax"/>
    </xs:complexType>

    <!-- xs:any element -->
    <xs:complexType name="ExtensibleType">
        <xs:sequence>
            <xs:element name="knownElement" type="xs:string"/>
            <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnyStrictType">
        <xs:sequence>
            <xs:any namespace="http://specific.namespace.com" processContents="strict"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="AnySkipType">
        <xs:sequence>
            <xs:any namespace="##any" processContents="skip" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <!-- ComplexType with only attributes (no content) -->
    <xs:complexType name="AttributeOnlyType">
        <xs:attribute name="attr1" type="xs:string"/>
        <xs:attribute name="attr2" type="xs:integer"/>
    </xs:complexType>

    <!-- Sequence with annotations on each element -->
    <xs:complexType name="DocumentedSequenceType">
        <xs:annotation>
            <xs:documentation>A sequence with documented elements</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="firstName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The person's first name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="lastName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The person's last name</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="age" type="xs:positiveInteger">
                <xs:annotation>
                    <xs:documentation>Age in years</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <!-- Root element -->
    <xs:element name="TestRoot">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="empty" type="tns:EmptyType"/>
                <xs:element name="sequenceBasic" type="tns:SequenceBasicType"/>
                <xs:element name="choiceBasic" type="tns:ChoiceBasicType"/>
                <xs:element name="allBasic" type="tns:AllBasicType"/>
                <xs:element name="nested" type="tns:NestedSequenceChoiceType"/>
                <xs:element name="mixed" type="tns:MixedContentType"/>
                <xs:element name="withAttrs" type="tns:WithAttributesType"/>
                <xs:element name="extensible" type="tns:ExtensibleType"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
