release/examples/xsd/context-sensitive-demo3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://example.com/demo"
           xmlns:altova="http://www.altova.com"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           targetNamespace="http://example.com/demo">
   <xsd:annotation xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:documentation>doc test</xsd:documentation>
   </xsd:annotation>
   <!-- Root element -->
   <xs:element name="document" type="DocumentType"/>
   <!-- Document type with header, body, and footer -->
   <xs:complexType name="DocumentType">
      <xs:sequence>
         <xs:element name="header" type="HeaderType"/>
         <xs:element name="body" type="BodyType"/>
         <xs:element name="footer" type="FooterType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Header type with title and navigation -->
   <xs:complexType name="HeaderType">
      <xs:sequence>
         <xs:element name="title" type="xs:string">
            <xs:annotation>
               <xs:documentation>title doc 123</xs:documentation>
               <xsd:appinfo xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                  <altova:exampleValues>
                     <altova:example value="aaa"/>
                  </altova:exampleValues>
               </xsd:appinfo>
            </xs:annotation>
         </xs:element>
         <xs:element name="navigation" type="NavigationType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Navigation type with menu items -->
   <xs:complexType name="NavigationType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="menu" type="MenuType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Menu type with menu items -->
   <xs:complexType name="MenuType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="menuItem" type="MenuItemType"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>
   <!-- Menu item type -->
   <xs:complexType name="MenuItemType">
      <xs:sequence>
         <xs:element name="label" type="xs:string"/>
         <xs:element name="link" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Body type with sections -->
   <xs:complexType name="BodyType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="section" type="SectionType"/>
         <xs:element maxOccurs="unbounded" name="article" type="ArticleType"/>
         <xs:element maxOccurs="unbounded" name="aside" type="AsideType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Section type with headings and paragraphs -->
   <xs:complexType name="SectionType">
      <xs:sequence>
         <xs:element minOccurs="0" name="h1" type="xs:string"/>
         <xs:element minOccurs="0" name="h2" type="xs:string"/>
         <xs:element minOccurs="0" name="h3" type="xs:string"/>
         <xs:element maxOccurs="unbounded" name="p" type="xs:string"/>
         <xs:element minOccurs="0" name="ul" type="ListType"/>
         <xs:element minOccurs="0" name="ol" type="ListType"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>
   <!-- Article type similar to section -->
   <xs:complexType name="ArticleType">
      <xs:sequence>
         <xs:element minOccurs="0" name="h1" type="xs:string"/>
         <xs:element minOccurs="0" name="h2" type="xs:string"/>
         <xs:element minOccurs="0" name="h3" type="xs:string"/>
         <xs:element maxOccurs="unbounded" name="p" type="xs:string"/>
         <xs:element minOccurs="0" name="ul" type="ListType"/>
         <xs:element minOccurs="0" name="ol" type="ListType"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:string"/>
   </xs:complexType>
   <!-- Aside type for sidebar content -->
   <xs:complexType name="AsideType">
      <xs:sequence>
         <xs:element minOccurs="0" name="h2" type="xs:string"/>
         <xs:element maxOccurs="unbounded" name="p" type="xs:string"/>
         <xs:element minOccurs="0" name="ul" type="ListType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- List type with list items -->
   <xs:complexType name="ListType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="li" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Footer type with copyright and links -->
   <xs:complexType name="FooterType">
      <xs:sequence>
         <xs:element name="copyright" type="xs:string"/>
         <xs:element minOccurs="0" name="links" type="LinksType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Links type with link items -->
   <xs:complexType name="LinksType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="link" type="LinkType"/>
      </xs:sequence>
   </xs:complexType>
   <!-- Link type -->
   <xs:complexType name="LinkType">
      <xs:sequence>
         <xs:element name="text" type="xs:string"/>
         <xs:element name="url" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
