src/test/resources/demo-xsd/test-inline-type3.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="r2">
        <xs:complexType name="complexType">
            <xs:sequence>
                <xs:element name="Child1" type="xs:string"/>
                <xs:element name="Child2" type="xs:string"/>
                <xs:element name="Child3" type="xs:string"/>
                <xs:element name="newElement" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
