src/test/resources/demo-xsd/test_enumeration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="root">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="DataOperation" type="DataOperationType"/>
                <xs:element name="Status" type="StatusType"/>
                <xs:element name="OtherElement" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="DataOperationType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="INITIAL"/>
            <xs:enumeration value="UPDATE"/>
            <xs:enumeration value="DELETE"/>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="StatusType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="ACTIVE"/>
            <xs:enumeration value="INACTIVE"/>
            <xs:enumeration value="PENDING"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>
