src/test/resources/choiceTest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Order">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="OrderID" type="xs:string"/>
                <xs:choice minOccurs="1" maxOccurs="1">
                    <xs:element name="CreditCard" type="xs:string"/>
                    <xs:element name="BankTransfer" type="xs:string"/>
                    <xs:element name="Cash" type="xs:string"/>
                    <xs:element name="Cheque" type="xs:string"/>
                </xs:choice>
                <xs:element name="Amount" type="xs:decimal"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
