src/test/resources/choiceTestMultiple.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">

    <xs:element name="Notification">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="MessageID" type="xs:string"/>
                <!-- Choice with minOccurs="2" maxOccurs="3" to test multiple selections -->
                <xs:choice minOccurs="2" maxOccurs="3">
                    <xs:element name="Email" type="xs:string"/>
                    <xs:element name="SMS" type="xs:string"/>
                    <xs:element name="PushNotification" type="xs:string"/>
                    <xs:element name="PhoneCall" type="xs:string"/>
                </xs:choice>
                <xs:element name="Timestamp" type="xs:dateTime"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>
