src/test/resources/schema/include_files/FundsXML4_CountrySpecificData_DK.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="CountrySpecificDataDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificControlDataDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificFundDataDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificAssetMasterDataDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificShareClassDataDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificEMTDKType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
</xs:schema>
