src/test/resources/schema/include_files/FundsXML4_Core.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="AddressType"/>
    <xs:complexType name="AmountType">
        <xs:annotation>
            <xs:documentation>[en] Amount in different currencies

[de] Betrag in verschiedenen Waehrungen</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AttributesType"/>
    <xs:complexType name="AttributeType"/>
    <xs:complexType name="AUMType">
        <xs:annotation>
            <xs:documentation>Assets under Management Type</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ClassificationsType"/>
    <xs:complexType name="ClassificationType"/>
    <xs:complexType name="CompanyType">
        <xs:annotation>
            <xs:documentation>Detaili data of Company/Issuer</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="DataSupplierType"/>
    <xs:complexType name="DayMonthType"/>
    <xs:complexType name="DynLenNamesType"/>
    <xs:complexType name="FundAmountType">
        <xs:annotation>
            <xs:documentation>[en] Amount in different currencies

[de] Betrag in verschiedenen Waehrungen</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="FundOrShareClassIdentifiersType"/>
    <xs:complexType name="FundRelatedTextType">
        <xs:annotation>
            <xs:documentation>complex Element designed to describe any text or commentary related to a fund like
                &quot;Investment strategy&quot;, &quot;Management outlook&quot;, &quot;company profile&quot;...</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="FXRatesType"/>
    <xs:complexType name="FXRateType"/>
    <xs:complexType name="HedgingStrategyType"/>
    <xs:complexType name="IdentifiersType"/>
    <xs:complexType name="IssuerType"/>
    <xs:complexType name="LanguageNamesType"/>
    <xs:complexType name="NamesType"/>
    <xs:complexType name="OtherPricesType"/>
    <xs:complexType name="PositiveAmountType">
        <xs:annotation>
            <xs:documentation>[en] Amount in different currencies - only positive values

[de] Betrag in verschiedenen Waehrungen - nur positive Werte erlaubt</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ShareClassTypeType"/>
    <xs:complexType name="SingleAmountType"/>
    <xs:complexType name="TotalAssetValueType"/>
    <xs:simpleType name="BicCodeType">
        <xs:annotation>
            <xs:documentation>BIC Code (SWIFT)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="CompanyListedClassificationType">
        <xs:annotation>
            <xs:documentation>List of company classifications</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="EmailAddressType">
    </xs:simpleType>
    <xs:simpleType name="FrequencyType">
        <xs:annotation>
            <xs:documentation>Frequency:
                DAIL ... Daily
                MNTH ... Monthly
                QURT ... Quarterly
                SEMI ... Semiannual
                TWMN ... Twomonthly
                TWWK ... Twoweekly
                WEEK ... Weekly
                YEAR</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="ISINType">
        <xs:annotation>
            <xs:documentation>International Securities Identification Number (according to ISO 6166)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="ISOCountryCodeType">
        <xs:annotation>
            <xs:documentation>[en] The ISOCountryCodeType is a type for decoding ISO-CountryCodes. It is used
                the two-letter ISO-CountryCodes (ISO 3166-1alpha-2). It is of the type string and has a length from
                exactly two letters.

[de] Der ISOCountryCodeType stellt einen einfachen Typ zur Verarbeitung von
                ISO-Laendercodes bereit. Verwendet werden die zweistelligen ISO-Waehrungscodes (ISO 3166-1alpha-2). Er
                ist vom Typ string und hat eine Laenge von zwei Zeichen.</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="ISOCurrencyCodeType">
        <xs:annotation>
            <xs:documentation>[en] Three-letter ISO-CurrencyCode (ISO 4217)

[de] Dreistelliger ISO-Waehrungscode (ISO 4217)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="ISOLanguageCodeType">
        <xs:annotation>
            <xs:documentation>[en] The ISOLanguageCodeType is a type for decoding ISO 639-1 Language Code. It
                is of the type string and has a length from exactly two letters.</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="LEICodeType">
        <xs:annotation>
            <xs:documentation>Legal Entity Identifier (LEI) (ISO 17442 standard) of the Entity or if not available the
                Interim Entity Identifier (IEI):
                •Characters 1-4: A four character prefix allocated uniquely to each LOU.
                •Characters 5-6: Two reserved characters set to zero.
                •Characters 7-18: Entity - specific part of the code generated and assigned by LOUs according to
                transparent, sound and robust allocation policies.
                •Characters 19-20: Two check digits</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="ListedIdentifierType">
        <xs:annotation>
            <xs:documentation>List of all public available Identifiers</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="MICCodeType">
        <xs:annotation>
            <xs:documentation>Market Identifier Code - ISO 10383</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="PercentageType">
        <xs:annotation>
            <xs:documentation>[en] The PercentageType defines the percentage-values. It is derived from
                decimal. To decimal there is no modification. Percentage values can be expressed in three was: For 3.5 %
                it can be written as 3.5 or 1.035 or 0.035. For FundsXML percentage value has to be written as 3.5

[de] Der PercentageType definiert die Prozentwerte. Abgeleitet ist er von
                decimal. Veraendert wurde er nicht. Bei Prozentwerten kann man je nach Definition fuer 3, 5 % die Werte
                3.5 oder 1.035 oder 0.035 angeben. Mit diesem Typ dokumentiert FundsXML, dass fuer Prozentwerte die
                Auspraegung 3.5 benutzt werden muss um eine einheitliche Auspraegung fuer den Datenaustausch zwischen
                Firmen zu erreichen.</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="positiveDecimals">
    </xs:simpleType>
    <xs:simpleType name="Text1000Type">
        <xs:annotation>
            <xs:documentation>Text (max. 1000 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text100Type">
        <xs:annotation>
            <xs:documentation>Text (max. 100 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text128Type">
        <xs:annotation>
            <xs:documentation>Text (max. 128 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text16Type">
        <xs:annotation>
            <xs:documentation>Text (max. 16 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text1Type">
        <xs:annotation>
            <xs:documentation>Text (max. 1 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text200Type">
        <xs:annotation>
            <xs:documentation>Text (max. 200 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text256Type">
        <xs:annotation>
            <xs:documentation>Text (max. 256 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text2Type">
        <xs:annotation>
            <xs:documentation>Text (max. 2 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text300Type">
        <xs:annotation>
            <xs:documentation>Text (max. 300 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text32Type">
        <xs:annotation>
            <xs:documentation>Text (max. 32 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text4Type">
        <xs:annotation>
            <xs:documentation>Text (max. 4 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text500Type">
        <xs:annotation>
            <xs:documentation>Text (max. 500 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text64Type">
        <xs:annotation>
            <xs:documentation>Text (max. 64 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="Text8Type">
        <xs:annotation>
            <xs:documentation>Text (max. 8 characters)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="YesNoType">
        <xs:annotation>
            <xs:documentation>YES or NO</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
</xs:schema>
