src/test/resources/schema/include_files/FundsXML4_CountrySpecificData_DE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="CountrySpecificDataDEType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificControlDataDEType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificFundDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificAssetMasterDataDEType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="PRIIPS_DE_EPT_PiaType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="PRIIPS_V2_Country_Specific_DE">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificShareClassDataDEType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificEMTDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="SalesDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="PurchasesDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="AddressTypeDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="AnnualReturnsDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="UsageDataDEType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:simpleType name="LatitudeDataDEType">
        <xs:annotation>
            <xs:documentation>The latitude of the object. Decimal degrees.</xs:documentation>
        </xs:annotation>
        <!-- Unsupported node type: XsdRestriction -->
    </xs:simpleType>
    <xs:simpleType name="LongitudeDataDEType">
        <xs:annotation>
            <xs:documentation>The longitude of the object. Decimal degrees.</xs:documentation>
        </xs:annotation>
        <!-- Unsupported node type: XsdRestriction -->
    </xs:simpleType>
</xs:schema>
