src/test/resources/schema/include_files/FundsXML4_CountrySpecificData_LU.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="CountrySpecificDataLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificControlDataLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificFundDataLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificAssetMasterDataLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificShareClassDataLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificEMTLUType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
</xs:schema>
