src/test/resources/schema/include_files/FundsXML4_RegulatoryReporting_EET.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="EETsType"/>
    <xs:complexType name="EETsType1.1"/>
    <xs:complexType name="EETsType1.1.1"/>
    <xs:complexType name="EETsType1.1.2"/>
    <xs:complexType name="EETsType1.1.3"/>
    <xs:complexType name="EETReportType"/>
    <xs:complexType name="EETReportType1.1"/>
    <xs:complexType name="EETReportType1.1.1"/>
    <xs:complexType name="EETReportType1.1.2"/>
    <xs:complexType name="EETReportType1.1.3"/>
    <xs:simpleType name="EETYesNeutralType">
    </xs:simpleType>
    <xs:simpleType name="EETYesNoNeutralType">
    </xs:simpleType>
    <xs:simpleType name="EETYesNoType">
        <xs:annotation>
            <xs:documentation>Y or N</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:complexType name="EETWeightNumberType"/>
    <xs:complexType name="EETWeightNumberType1.1"/>
    <xs:complexType name="ValueStrategyCoverageType"/>
    <xs:complexType name="ValueStrategyCoverageType1.1"/>
    <xs:complexType name="ValueStrategyCoverageType1.1.2"/>
    <xs:complexType name="EETExclusionType"/>
    <xs:complexType name="EETExclusionType1.1"/>
    <xs:complexType name="EETEnhancedExclusionType"/>
    <xs:complexType name="EETEnhancedExclusionType1.1"/>
    <xs:complexType name="PercentageStrategyCoverageType"/>
    <xs:complexType name="PercentageStrategyCoverageType1.1"/>
    <xs:complexType name="PercentageStrategyCoverageType1.1.2"/>
</xs:schema>
