src/test/resources/schema/include_files/FundsXML4_TransactionData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="EarningsType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="EarningType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="TransactionsType">
        <!-- Unsupported node type: XsdSequence -->
        <!-- Unsupported node type: XsdAttribute -->
        <!-- Unsupported node type: XsdAttribute -->
    </xs:complexType>
    <xs:complexType name="TransactionType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
</xs:schema>
