src/test/resources/schema/include_files/FundsXML4_AssetMgmtCompDynData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="ClientStatisticType">
        <xs:annotation>
            <xs:documentation>Data about the clients of an investment or asset management company</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="FundStatisticType">
        <xs:annotation>
            <xs:documentation>Data of open-ended funds</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="FundStatisticClosedFundType">
        <xs:annotation>
            <xs:documentation>Data of closed-ended funds</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AssetManagementCompanyDataType"/>
    <xs:complexType name="AssetManagementClosedDataType">
        <xs:annotation>
            <xs:documentation>Data of the investment or asset management company for closed-ended funds</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AssetManagementCompanySalesType">
        <xs:annotation>
            <xs:documentation>Company sales data</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AssetManagementCompanyFundAssetsType">
        <xs:annotation>
            <xs:documentation>Company assets data</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AssetManagementCompanyAggregatedType">
        <xs:annotation>
            <xs:documentation>Company sales and assets</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="AssetMgmtCompanyDynDataType"/>
</xs:schema>
