src/test/resources/schema/include_files/FundsXML4_ShareClassData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="ShareClassType"/>
    <xs:complexType name="ShareClassPriceType"/>
    <xs:complexType name="FlowType"/>
    <xs:complexType name="PerformanceFiguresType">
        <xs:annotation>
            <xs:documentation>Performance figures related data</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="TotalReturnType"/>
    <xs:complexType name="PerformanceType"/>
    <xs:complexType name="RatingType"/>
    <xs:complexType name="DataPointType"/>
    <xs:simpleType name="CalculationPeriodType">
    </xs:simpleType>
    <xs:simpleType name="DateIntervalType">
    </xs:simpleType>
    <xs:complexType name="FeePeriodDataType"/>
    <xs:complexType name="FeesType"/>
    <xs:complexType name="ShareClassFeeType"/>
    <xs:complexType name="InvestorTypesType"/>
    <xs:complexType name="HighWatermarkType"/>
    <xs:complexType name="InvestorType"/>
    <xs:complexType name="DistributionType"/>
    <xs:complexType name="AllocationType"/>
</xs:schema>
