src/test/resources/schema/include_files/FundsXML4_RegulatoryReporting_EMT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="EMT_V4_FinancialInstrumentType"/>
    <xs:complexType name="EMT_V41_FinancialInstrumentType"/>
    <xs:complexType name="EMT_V42_FinancialInstrumentType"/>
    <xs:complexType name="EMTType_V4"/>
    <xs:complexType name="EMTType_V41"/>
    <xs:complexType name="EMTType_V42"/>
    <xs:complexType name="EMTType_V3"/>
    <xs:complexType name="EMTType"/>
    <xs:simpleType name="EMTYesNoType">
        <xs:annotation>
            <xs:documentation>Y or N</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="EMTYesEmptyType">
        <xs:annotation>
            <xs:documentation>Y or Empty</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="EMTYesNoNeutralType">
    </xs:simpleType>
    <xs:simpleType name="EMTYesNeutralType">
    </xs:simpleType>
    <xs:simpleType name="RetailProfessionalBothNeitherType">
    </xs:simpleType>
    <xs:complexType name="EMTFinancialInstrumentType"/>
    <xs:complexType name="EMT_V3_FinancialInstrumentType"/>
</xs:schema>
