src/test/resources/schema/include_files/FundsXML4_CountrySpecificData_AT.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="CountrySpecificDataATType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificControlDataATType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificFundDataATType">
        <xs:annotation>
            <xs:documentation>Country specific data for Austria</xs:documentation>
        </xs:annotation>
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificAssetMasterDataATType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:complexType name="CountrySpecificShareClassDataATType">
        <!-- Unsupported node type: XsdSequence -->
    </xs:complexType>
    <xs:simpleType name="IdentnummerType">
        <xs:annotation>
            <xs:documentation>Identnummer der Oesterreichischen Nationalbank: maximal 8 stellig nummerisch mit
                Prüfziffer</xs:documentation>
        </xs:annotation>
        <!-- Unsupported node type: XsdRestriction -->
    </xs:simpleType>
    <xs:complexType name="CountrySpecificEMTATType">
        <!-- Unsupported node type: XsdComplexContent -->
    </xs:complexType>
</xs:schema>
