src/test/resources/schema/include_files/FundsXML4_FundStaticData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="FundStaticDataType"/>
    <xs:complexType name="SubfundStaticDataType"/>
    <xs:complexType name="SingleFundStaticDataType"/>
    <xs:complexType name="FundCompanyType"/>
    <xs:complexType name="FundCompaniesType"/>
    <xs:complexType name="SubfundCompanyType"/>
    <xs:complexType name="SubfundCompaniesType"/>
    <xs:complexType name="BenchmarkStaticDataType"/>
    <xs:complexType name="BenchmarkProviderCompany"/>
    <xs:simpleType name="BenchmarkUsageType">
    </xs:simpleType>
</xs:schema>
