src/test/resources/schema/include_files/FundsXML4_RegulatoryReporting_PRIIPS.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="PRIIPSType">
        <xs:annotation>
            <xs:documentation>XML adaptation of &quot;PRIIPS Pan European Data Exchange Template&quot;</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="PRIIPS_V2_ReturnScenarioType"/>
    <xs:complexType name="PRIIPS_InvestmentAmountType"/>
    <xs:complexType name="PRIIPS_AverageReturnType"/>
    <xs:complexType name="PRIIPS_NarrativesType"/>
    <xs:complexType name="PRIIPS_V2_NarrativesType"/>
    <xs:simpleType name="PRIIPSFrequencyType">
        <xs:annotation>
            <xs:documentation>Coupon Frequency: 0 other than 1 Annual, 2 Semestrial, 4 Quarterly, 12 Monthly</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:complexType name="PRIIPS_ReportType"/>
    <xs:complexType name="CEPTV2PerformanceType"/>
    <xs:complexType name="CEPTV2PriceType"/>
    <xs:complexType name="CEPTV2HistoryType"/>
    <xs:complexType name="CEPT_PriceType"/>
    <xs:complexType name="CEPT_RHPSType"/>
    <xs:complexType name="CEPTV2_RHPSType"/>
    <xs:complexType name="PRIIPS_SecurityCodificationType">
        <xs:annotation>
            <xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in
                CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="PRIIPS_ReturnScenarioType"/>
    <xs:complexType name="PRIIPSType_V20"/>
</xs:schema>
