src/test/resources/schema/include_files/FundsXML4_RegulatoryReporting_SolvencyII.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:simpleType name="SIICouponFrequencyType_V6">
        <xs:annotation>
            <xs:documentation>Coupon Frequency: 0 other than 1 Annual, 2 Semestrial, 4 Quarterly, 12 Monthly</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:complexType name="TripartiteTemplateSolvencyIIType_V6"/>
    <xs:complexType name="TripartiteTemplateSolvencyIIType_V7"/>
    <xs:complexType name="SolvencyIIPortfolioType_V6">
        <xs:annotation>
            <xs:documentation>XML adaptation of &quot;Tripartite Template&quot;</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SolvencyIIPortfolioType_V7">
        <xs:annotation>
            <xs:documentation>XML adaptation of &quot;Tripartite Template&quot;</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIISecurityCodificationType_V6">
        <xs:annotation>
            <xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in
                CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIISecurityCodificationType_V7">
        <xs:annotation>
            <xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in
                CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIIPositionType_V6"/>
    <xs:complexType name="SIIPositionType_V7"/>
    <xs:complexType name="SIIIssuerType_V6">
        <xs:annotation>
            <xs:documentation>Name and codification of an Issuer</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIIIssuerType_V7">
        <xs:annotation>
            <xs:documentation>Name and codification of an Issuer</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RedemptionType_V6">
        <xs:annotation>
            <xs:documentation>Redemption information of a bond or other interest rate instrument</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RedemptionType_V7">
        <xs:annotation>
            <xs:documentation>Redemption information of a bond or other interest rate instrument</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CreditRiskDataType_V6">
        <xs:annotation>
            <xs:documentation>Corresponds to &quot;Issuer data&quot; block of Tripartite template</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CreditRiskDataType_V7">
        <xs:annotation>
            <xs:documentation>Corresponds to &quot;Issuer data&quot; block of Tripartite template</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CodificationType_V6">
        <xs:annotation>
            <xs:documentation>CodificationSystem (non restricted list) and Code expressed in CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CodificationType_V7">
        <xs:annotation>
            <xs:documentation>CodificationSystem (non restricted list) and Code expressed in CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ContributionToSCRType_V6">
        <xs:annotation>
            <xs:documentation>List of possible contributions to global SCR. Applicable to a Position.Could also be used
                for a group of Positions</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ContributionToSCRType_V7">
        <xs:annotation>
            <xs:documentation>List of possible contributions to global SCR. Applicable to a Position.Could also be used
                for a group of Positions</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="TripartiteTemplateSolvencyIIType"/>
    <xs:complexType name="TripartiteTemplateSolvencyIIType_V5"/>
    <xs:complexType name="SolvencyIIPortfolioType">
        <xs:annotation>
            <xs:documentation>XML adaptation of &quot;Tripartite Template&quot;</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SolvencyIIPortfolioType_V5">
        <xs:annotation>
            <xs:documentation>XML adaptation of &quot;Tripartite Template&quot;</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIIPositionType"/>
    <xs:complexType name="SIIPositionType_V5"/>
    <xs:complexType name="SIIIssuerType">
        <xs:annotation>
            <xs:documentation>Name and codification of an Issuer</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIIIssuerType_V5">
        <xs:annotation>
            <xs:documentation>Name and codification of an Issuer</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CodificationType">
        <xs:annotation>
            <xs:documentation>CodificationSystem (non restricted list) and Code expressed in CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CodificationType_V5">
        <xs:annotation>
            <xs:documentation>CodificationSystem (non restricted list) and Code expressed in CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIISecurityCodificationType">
        <xs:annotation>
            <xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in
                CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="SIISecurityCodificationType_V5">
        <xs:annotation>
            <xs:documentation>CodificationSystem (restricted list for Securities) and Code expressed in
                CodificationSystem</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ContributionToSCRType">
        <xs:annotation>
            <xs:documentation>List of possible contributions to global SCR. Applicable to a Position.Could also be used
                for a group of Positions</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="ContributionToSCRType_V5">
        <xs:annotation>
            <xs:documentation>List of possible contributions to global SCR. Applicable to a Position.Could also be used
                for a group of Positions</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CreditRiskDataType">
        <xs:annotation>
            <xs:documentation>Corresponds to &quot;Issuer data&quot; block of Tripartite template</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="CreditRiskDataType_V5">
        <xs:annotation>
            <xs:documentation>Corresponds to &quot;Issuer data&quot; block of Tripartite template</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RedemptionType">
        <xs:annotation>
            <xs:documentation>Redemption information of a bond or other interest rate instrument</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RedemptionType_V5">
        <xs:annotation>
            <xs:documentation>Redemption information of a bond or other interest rate instrument</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:simpleType name="CICCodeType">
        <xs:annotation>
            <xs:documentation>CIC code (4 positions) to identify a kind of security</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="EconomicAreaType">
        <xs:annotation>
            <xs:documentation>SII Economic area of a quotation place (including Non listed)</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="EconomicArea2Type">
        <xs:annotation>
            <xs:documentation>SII Economic area of a country</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="NACECodeType">
        <xs:annotation>
            <xs:documentation>NACE European code (7 positions) to identify a kind of economic activity</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="YesNoL1Type">
        <xs:annotation>
            <xs:documentation>Flag Y or N</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="SIICouponFrequencyType">
        <xs:annotation>
            <xs:documentation>Coupon Frequency: 0 other than 1 Annual, 2 Semestrial, 4 Quarterly, 12 Monthly</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="SIICouponFrequencyType_V5">
        <xs:annotation>
            <xs:documentation>Coupon Frequency: 0 other than 1 Annual, 2 Semestrial, 4 Quarterly, 12 Monthly</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
    <xs:simpleType name="CQSType">
        <xs:annotation>
            <xs:documentation>Credit Quality Step (Synthetic rating) 0 to 6 or 9 if no rating known.</xs:documentation>
        </xs:annotation>
    </xs:simpleType>
</xs:schema>
