src/test/resources/schema/include_files/FundsXML4_PortfolioData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:vc="http://www.w3.org/2007/XMLSchema-versioning" xmlns:altova="http://www.altova.com/xml-schema-extensions" xmlns:ds="http://www.w3.org/2000/09/xmldsig#" attributeFormDefault="unqualified" elementFormDefault="qualified" version="4.2.8" vc:minVersion="1.1">
    <xs:complexType name="PortfolioType"/>
    <xs:complexType name="PositionType"/>
    <xs:complexType name="PositionUnderlyingType">
        <xs:annotation>
            <xs:documentation>Position underlying details</xs:documentation>
        </xs:annotation>
    </xs:complexType>
    <xs:complexType name="RiskCodeType"/>
    <xs:complexType name="ExposureType"/>
    <xs:complexType name="PositionsType"/>
    <xs:complexType name="BreakDownsType"/>
    <xs:complexType name="PositionValuationType"/>
    <xs:complexType name="OtherTotalValueType"/>
    <xs:complexType name="PositionsDecomposedType"/>
</xs:schema>
